@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    color: #ffffff; 
    box-sizing: border-box;
}


body {
    background-color: #121212;
    font-family: 'Roboto', sans-serif;
    display: flex;
}
.menu {
    transform: translateX(-100%);
}

.menu.menu-opened {
    transform: translateX(0);
}


.menu-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: fixed;
    top: 30px;
    left: 10px;
    z-index: 1001;
    background-color: #1F1F1F;
    border-radius: 50%;
}


.menu-toggle i {
    font-size: 24px;
    color: #ffffff;
}

.menu-opened {
    width: 220px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile h2 {
    font-size: 20px;
    text-transform: capitalize;
}

.img-box {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #fff;
    flex-shrink: 0;
}
.img-box img {
    width: 100%;
}
.menu {
    background-color: #1F1F1F;
    width: 220px;
    height: 100vh;
    padding: 20px;
    overflow: hidden;
    transition: 0.5s;
    position: fixed; /* القائمة ثابتة في أعلى الشاشة */
    top: 0;
    left: 0;
    z-index: 1002; /* تجعل القائمة فوق العناصر الأخرى */
}

ul {
    list-style: none;
    position: relative;
    height: calc(100% - 40px);
}

ul li a {
    text-decoration: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 40px;
    background-color: #2C2C2C;
    color: #ffffff;
    transition: 0.5s;
}
ul li a:hover, .active{
    background-color: #885858;
}

.log-out {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.log-out a {
    background-color: #f00c0c;
    color: #000000; 
}

ul li a i{
    font-size: 20px;
}

.content {
    flex: 1;
    padding: 20px;
    margin-left: 0; 
    padding-top: 20px; 
    margin-top: 60px; /* هذا يجب أن يتطابق مع margin-top في .anime-grid */
    overflow-y: auto;
    height: calc(100vh - 60px); /* اجعل المحتوى يأخذ كل المساحة المتاحة أسفل menu-header */

}


.menu-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* تأكد أن القائمة مثبتة فوق المحتويات الأخرى */
    background-color: #121212; /* تأكد أن الخلفية مناسبة لتغطية المحتويات تحتها */
    padding: 10px 20px; /* اضبط المسافات حسب الحاجة */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* لإضافة تأثير ظل إذا كنت ترغب */
}

.search {
    padding: 10px;
    border-radius: 25px; 
    background-color: #1F1F1F;
    display: flex;
    align-items: center;
    /* left: 25%; */
    width: 50px;
    height: 50px;
    max-width: 260px; 
    margin: 20px auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative; 
    transition: 1.5s;
}

.search input {
    width: 0;
    font-size: 18px;
    padding: 8px 16px; 
    border: none;
    border-radius: 25px;
    color: #fff;
    background-color: #1F1F1F; 
    transition: width 0.3s ease, opacity 0.3s ease;
    opacity: 0;
}
.search:hover {
    width: 70%;
}
.search:hover input,
.search input:focus {
    width: 90%;
    opacity: 1;
    outline: none; 
    background-color: #1F1F1F; 
}

input:focus {
    outline: none;
}

.search i {
    font-size: 20px;
    color: #ffffff;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    right: 5px;
}

.anime-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* تجعل العناصر تتكيف حسب حجم الشاشة */
    gap: 20px;
    margin-top: 60px; /* لضبط المسافة بين القائمة الثابتة ومحتوى الشبكة */
    padding: 20px;
}



.anime {
    background-color: #2C2C2C;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    color: #ffffff;
}

@media (max-width: 1200px) {
    .anime-grid {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

@media (max-width: 992px) {
    .anime-grid {
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    }
}

@media (max-width: 768px) {
    .anime-grid {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
}

@media (max-width: 576px) {
    .anime-grid {
        grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    }
}



.anime img {
    width: 80%;
    border-radius: 5px;
}

.anime-info {
    padding: 5px;
    color: #ffffff;
    display: flex;
    justify-content: space-between; /* لضبط العناصر على جانبي السطر */
    align-items: center;
    gap: 2px;
    flex-direction: column; /* لضبط النصوص بشكل عمودي */
    align-items: flex-start;
}

.anime-info h3 {
    margin: 0;
    font-size: 11px;
    font-family: sans-serif;
    align-self: flex-start; /* لضبط الاسم في بداية السطر */
}

.rating-progress {
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 100%;
    margin-top: 5px;
    gap: 5px;
}

.rating {
    font-size: 10px;
    color: #FFD700;
    text-align: left;
}
.rating i {
    padding-left: 2px;
    font-size: 8px;
}
.progress {
    font-size: 10px;
    color: #888888;
    text-align: right;
}
